.countdown-day {
  display: inline-block;
  margin: 5%;
  margin-top: 0px;
  width: 11%;
  height: 20px;
  text-align: center;
}
.countdown-text {
  font-size: 1.2vw;
}
@media screen and (max-width: 840px) {
  .countdown-text {
    font-size: 2.5vw;
  }
}
